<!DOCTYPE html>
<html lang="en">
<head>
    <meta charSet="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta httpEquiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="description" content="This is a simple to-do app"/>
    <title>To Do App - Login</title>
    <style>
        {{BASE_CSS}}
        {{CSS}}
        .loginButtonStyle {
            display: inline-block;
            background: #f7786b;
            border: none;
            padding: 0.5rem 2rem;
            color: white;
            cursor: pointer;
            margin: 10px;
        }
        .loginButtonStyle:hover {
            background: #f7686b;
            color: black;
        }
    </style>
</head>
<body>
    <div class="mainContainer" style="text-align:center;">
        <h2 class="ContainerTitle">Welcome</h2>
        <p id="loginMessage" class="FeedbackMessage"></p>

        <button class="loginButtonStyle" id="loginButton">Login</button>
        <button class="loginButtonStyle" id="registerButton">Register</button>
        <button class="loginButtonStyle" id="logoutButton">Logout</button>
    </div>

    <script src="/javascript/keycloak.js"></script> <!-- Ensure this path is correct -->
    <script src="/javascript/main.js"></script>
    <script>
        {{JAVASCRIPT}}
    </script>
</body>
</html>
